version: '3.5'


services:
  postgres:
    container_name: postgres_parking_abc
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pass
      PGDATA: /data/postgres
    volumes:
      - postgres-db:/data/postgres
    ports:
      - "5432:5432"
  nats-server:
    container_name: nats_parking_abc
    image: nats:latest
    command: "-c /etc/nats/nats.conf -DV"
    ports:
      - "4222:4222"
      - "8080:8080"
    volumes:
      - ./config/:/etc/nats


volumes:
  postgres-db:
    driver: local
