version: '3.5'


services:
  postgres:
    container_name: postgres_parking_abc
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pass
      PGDATA: /data/postgres
    volumes:
      - postgres-db:/data/postgres
    ports:
      - "5432:5432"
  nats-server:
    container_name: nats_parking_abc
    image: nats:latest
    command: "-c /etc/nats/nats.conf -DV"
    ports:
      - "4222:4222"
      - "8080:8080"
    volumes:
      - ./config/:/etc/nats
  redis:
    container_name: redis_parking_abc
    image: redis:latest
    ports:
      - "6379:6379"
      - "8001:8001"
  zookeeper:
    container_name: zookeeper_parking_abc
    image: zookeeper:latest
    ports:
      - "2181:2181"
      - "2888:2888"
      - "3888:3888"


volumes:
  postgres-db:
    driver: local
