version: '3.5'

services:
  postgres:
    image: postgres:15.2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  nats-server:
    image: nats:2.9.16
    command: "-c /etc/nats/nats.conf -DV"
    ports:
      - "4222:4222"
      - "8080:8080"
    volumes:
      - ./config/:/etc/nats
  redis:
    image: redis:7.0.11
    ports:
      - "6379:6379"
